#page-not-found-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  .container-fluid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .row {
      .block-1 {
        font-size: 72px;
        font-weight: bold;
      }

      .block-2 {
        font-size: 36px;
      }

      .block-3 {

      }
    }
  }
}