.loading-layer-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  & > .loading-layer-container {
    width: 100%;
    height: 100%;
    & > .loading-layer-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & > .image-block{
        background: url('./assets/dancing-banana.gif');
        background-size: contain;
        background-repeat: no-repeat;
        width: 128px;
        height: 128px;
      }
    }
  }
}