.output-panel-wrapper {
  .output-panel-content {
    overflow: hidden;
    &.buttons-visible {
      .buttons-wrapper {
        margin-top: 0;
      }
    }
    .buttons-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: -100%;
      transition: margin-top 0.25s;

      .btn-group-vertical {
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        margin-top: 5px;

        .btn {
          outline: none;
        }
      }
    }

    pre {
      /*padding: 1em;*/
      margin: 0;
      background: white;

      &.disconnected{
        border-color: red;
        border-width: 1px;
        border-style: inset;
        background-color: rgba(255,0,0,0.1);
      }
    }
  }
}