.list-group.projects-list {
  border: 1px inset rgba(0, 0, 0, 0.5);
  li {
    padding: 0;
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 15px;
      cursor: pointer;
      font-size: smaller;
      opacity: 1;

      & > .text-container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        & > .fa {
          margin-right: 1em;
        }

        & > .project-description {
          margin-left: 1em;
        }
      }

      & > .buttons-container {
        .btn {
          margin-right: .5em;
        }

        .btn:last-child {
          margin-right: 0;
        }
        & > .delete-btn {
          padding: 2px 7px;
          border-radius: 50%;
          &:hover {
            color: white;
          }
        }
      }

      &:hover {
        opacity: 1;
        border-bottom: 1px inset rgba(0, 0, 0, 0.5);
        border-top: 1px inset rgba(0, 0, 0, 0.5);
        margin-bottom: 0px;
        & > * {
          /*transform: translate3d(10px, 0, 0);*/
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        }

        & .fa-caret-right {
          transform: translateX(.5em);
        }
      }
    }
  }
}