#dashboard-view {
  width: 100%;
  height: 100%;
  /*max-width: 1200px;*/
  margin: 0 auto;
  padding: 0;
  /*padding-top: 70px;*/

  .dashboard-wrapper {
    height: 100%;
    .dashboard-content {
      height: 100%;
      display: flex;
      flex-direction: column;

      & > .row.header-block {
        margin: 1em 0 2em 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 0 0 auto;
        & > div {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          margin-left: 1em;

          .root-dir-form {
            input {
              margin: 0 .2em 0 1em;
              font-weight: bold;
            }
          }
          .new-config-form-container {
            transform: translate3d(0, 3em, 0);
            min-width: 300px;
            .required {
              &:after {
                content: ' *';
                color: red;
              }
            }
          }
        }
      }
      & > .row.content-block {
        flex: 1 1 auto;
        position: relative;
        overflow-y: auto;

        .left-panel {
          button {
            outline: none;
          }
          .projects-panel-header {
            display: flex;
            justify-content: space-between;

            & > .projects-panel-buttons-wrapper {
              display: flex;
              justify-content: flex-end;

              & > .btn {
                margin-bottom: 3px;
                margin-right: .5em;
              }
              .btn:last-child {
                margin-right: 17px;

                &:hover {
                  /*box-shadow: 0px -1px 10px 1px black;*/
                }
              }
            }
          }
          .row {
            .col-xs-2.buttons-container {
              margin: 0;
              padding: 0;
              display: flex;
              flex-direction: column;

              .btn{
                margin-bottom: .5em;
              }
            }
          }
          .row:nth-child(3) {
            margin-top: 2em;
          }
        }
        .right-panel {

        }
      }
    }
  }
}