.new-config-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  max-width: 600px;
  width: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 0;
  & > .panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

    button{
      outline: none !important;
    }

    & > .panel-heading {
      display: flex;
      align-items: baseline;

      & > p {
        flex: 1;
      }

      & > button {
        flex: 0;
        border-radius: 50%;
        padding: 3px 8px;
        background: transparent;
        border: none;
        color: darkred;
        &:hover{
          color: red;
        }
      }
    }

    & > .panel-body {
      flex: 1;

      .error{
        color: red;
        input, textarea{
          border: 1px inset red;
        }
      }

      textarea {
        resize: none;
      }

      .required {
        &:after {
          content: ' * ';
          color: red;
          font-weight: bold;
        }
      }
    }

    & > .panel-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}